<script src="/javascripts/jquery-1.4.2.min.js?" type="text/javascript"></script>

<div class="main-wrapper page plan">
<div class="table-wrap">
<div class="sign-up-banner"></div>
<div class="sign-up">
<%= flash[:notice]%>
<%=form_for(@user,:url=>{:controller=>:stores_registration,:action=>:save_store_details}) do |u| %>                          
<div class="abt-u">
<div class="form-left"> 
<div class="login-info rc8">
<%if flash[:error]%>
<p class="err-msg">
<%=flash[:error]%>
</p>
<%end%>
<h3>You are registering for <%= @plan_name%> plan and Amount is <%= @amount %></h3>

<h3>Login Information</h3>
<div class="filed-wrap">
<label class="inlined">Email Address<span>*</span></label>
<%= u.text_field :email,:class=>"input-text full"%>
<div class="err-msg"><%=error_message_on        :user,:email %></div>
</div>
<div class="filed-wrap">
<label class="inlined">Password<span>*</span></label>
<%= u.password_field :password%>
<div class="err-msg"><%=error_message_on        :user,:password %></div>
</div>
<div class="filed-wrap">
<label class="inlined">Confirm Password<span>*</span></label>
<%= u.password_field :password_confirmation%>
<div class="err-msg"><%=error_message_on        :user,:password_confirmation %></div>
</div>
</div>
<div class="login-info rc8">
<h3>Your billing information</h3>
<%= fields_for @store_owner do |f| %>

<div class="filed-wrap">
<label class="inlined">Name<span>*</span></label>
<%= f.text_field :name%>
<div class="err-msg"><%=error_message_on        :store_owner,:name %></div>
</div>
<div class="filed-wrap">
<label class="inlined">Address 1<span>*</span></label>
<%= f.text_field :address1%>
<div class="err-msg"><%=error_message_on        :store_owner,:address1 %></div>
</div>
<div class="filed-wrap">
<label class="inlined">Address 2<span>*</span></label>
<%= f.text_field :address2%>
<div class="err-msg"><%=error_message_on        :store_owner,:address2 %></div>
</div>
<div class="filed-wrap">
<label class="inlined">City<span>*</span></label>
<%= f.text_field :city%>
<div class="err-msg"><%=error_message_on        :store_owner,:city %></div>
</div>
<div class="filed-wrap">
<label class="inlined">Zipcode<span>*</span></label>
<%= f.text_field :zipcode%>
<div class="err-msg"><%=error_message_on        :store_owner,:zipcode %></div>
</div>
<div class="filed-wrap">
<label class="inlined">Country<span>*</span></label>
<%@countries = Spree::Country.find(:all)%>
<%= f.select :country,(@countries.collect{|x|[x.name]} if @countries), {:selected=>"United States",:prompt => 'Select Country'} %>
<div class="err-msg"></div>
</div>
<div class="filed-wrap">
<label class="inlined">State<span>*</span></label>
<%@states = Spree::State.find(:all)%>
<%= f.select :state,(@states.collect{|x|[x.name]} if @countries), {:selected=>"California",:prompt => 'Select State'} %>                                
</div>

<div class="filed-wrap">
<label class="inlined">Phone Number<span>*</span></label>
<%= f.text_field :phoneno,:maxlength=>16%>
<div class="err-msg"><%=error_message_on        :store_owner,:phoneno%></div>
</div>
</div>
<div class="login-info rc8">
<h3>Domain Name</h3>
<div class="filed-wrap">
<label class="inlined">Domain Name<span>*</span><p><font size='1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;http:</font></p></label>
<span class="field_with_errors"><%= f.text_field :domain%> </span>
<div class="err-msg"><div class="formError"><%=error_message_on        :store_owner,:domain%></div>
</div>
<br><br/>&nbsp;&nbsp;&nbsp;&nbsp;.crux.railsfactory.com
</div></div>
<div class="login-info rc8">
<h3>Credit Card Details</h3>
<div class="filed-wrap">
<label class="inlined">First Name<span>*</span></label>
<%= f.text_field :first_name%>
<div class="err-msg"><%=error_message_on        :store_owner,:first_name %></div>
</div>
<div class="filed-wrap">
<label class="inlined">Last Name<span>*</span></label>
<%= f.text_field :last_name%>
<div class="err-msg"><%=error_message_on        :store_owner,:last_name %></div>
</div>
<div class="filed-wrap">
<label class="inlined">Card Number<span>*</span></label>
<%= f.text_field :card_number%>
<div class="err-msg"><%=error_message_on        :store_owner,:card_number%></div>
</div>
<div class="filed-wrap">
<label class="inlined">Card Type</label>
<%= f.select :card_type,%w{Visa MasterCard AmericanExpress Discover}%>
<div class="err-msg"></div>
</div>
<div class="filed-wrap">
<label class="inlined">Cvv<span>*</span></label>
<%= f.password_field :cvv%>
<div class="err-msg"><%=error_message_on        :store_owner,:cvv %></div>
</div>
<div class="filed-wrap">
<label class="inlined">Expiration Year<span>*</span> </label>
<%= f.select 'expiration_year', options_for_select(card_year),{},{:style=>"width:150px;"}%>
<%= f.select 'expiration_month', options_for_select(card_month),{},{:style=>"width:150px; margin-left:20px;"}%>
</div>
<%end%>
</div>
<div class="block cl rc8">
<h3>Terms and conditions</h3>
<dl>
<dd id="user-agreement">
<p>You must agree to the Shopify terms and conditions before you can create your account.</p>  
<div class="ssb">
<input type="checkbox" value="1" style="margin:0" name="" id="" checked="checked">&nbsp;
<label for="">Accept payments through PayPal to your email.</label>
</div>
</dd>
<div class="create-btn "><input type="image" src="/assets/btn-createaccount.png" /></div>
</dl>
</div>
</div>
</div>
<%end%>
</div>
</div>
</div>
</body>
</html>
