<style>
div.inner input[type=text], div.inner select { width: 80%; }
.hidden { display: none; }
</style>
<fieldset id='billing'>
	<%= form.fields_for :bill_address do |bill_form| %>
		<h5 class="subhead"><%= t("billing_address")%></h5>                            	
			<div class="form_block payment_address inner">	    
				<p class="field">&nbsp;</p>															
				<div class="field_wrap field">
					<%= bill_form.label :firstname, t(:first_name) %> <span class="req required">*</span>
					<div class="input_wrap">
						<%= bill_form.text_field :firstname, :class => ' txtinput', :id=>"txt_firstname"%>
					</div>
				</div>
				<div class="field_wrap field" id="blname">
					<%= bill_form.label :lastname, t(:last_name) %><span class="req required">*</span>
						<div class="input_wrap">
							<%= bill_form.text_field :lastname, :class => 'txtinput',:id=>"txt_firstname"%>
						</div>
				</div>
				<div class="field_wrap field"  id="baddress" >
					<%= bill_form.label :address1, t(:street_address) %><span class="req required">*</span>
					<div class="input_wrap">
						<%= bill_form.text_field :address1, :class => 'txtinput',:id=>"txt_firstname" %>
					</div>
				</div>
				<div class="field_wrap field" id="baddress2">
					<%= bill_form.label :address2, t(:street_address_2) %>
					<div class="input_wrap">
						<%= bill_form.text_field :address2 ,:id=>"txt_firstname",:class=>"txtinput"%>
					</div>
				</div>
				<div class="field_wrap field" id="bcity">
					<%= bill_form.label :city, t(:city) %><span class="req required">*</span>
					<div class="input_wrap">
						<%= bill_form.text_field :city, :class => ' txtinput',:id=>"txt_firstname" %>
					</div>
				</div>
				<p class="field">
				<% if Spree::Config[:address_requires_state] %>
				<div class="field_wrap" id="bstate">
					<% have_states = !@order.bill_address.country.states.empty? %>
					<%= bill_form.label :state, t(:state) %> <span class="req required">*</span>
					<noscript>
					<div class="input_wrap">
						<%= bill_form.text_field :state_name, :class => ' txtselect' %>
						</noscript>
						<% state_elements = [
						bill_form.collection_select(:state_id, @order.bill_address.country.states,
						:id, :name,
						{:include_blank => true},
						{:class => have_states ? "required" : "hidden",
					  	:disabled => !have_states}) +
							bill_form.text_field(:state_name,
							:class => !have_states ? "required" : "hidden",
							:disabled => have_states)
							].join.gsub('"', "'").gsub("\n", "")
						%>
								<script type="text/javascript" language="javascript" charset="utf-8">
								// <![CDATA[
								document.write("<%== state_elements %>");
								// ]]>
								</script>
							</div>
						</div>
					</p>
					<% end %>
					<div class="field_wrap field" id="bzip">
						<%= bill_form.label :zipcode, t(:zip) %> <span class="req required">*</span>
							<div class="input_wrap">
							<%= bill_form.text_field :zipcode, :class => 'txtinput',:id=>"txt_firstname" %>
							</div>
					</div>
					<div class="field_wrap field" id="bcountry">
						<%= bill_form.label :country_id, t(:country) %><span class="req required">*</span>
						<div class="input_wrap" id="bcountry">
							<%= bill_form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'txtselect'} %>
						</div>
					</div>
					<div class="field_wrap field" id="bphone">
						<%= bill_form.label :phone, t(:phone) %><span class="req required">*</span>
						<div class="input_wrap">
							<%= bill_form.text_field :phone, :class => ' txtinput',:id=>"txt_firstname" %>
						</div>
					</div>
						<% if Spree::Config[:alternative_billing_phone] %>
            <p id="baltphone">
              <%= bill_form.label :alternative_phone, t(:alternative_phone) %>
              <%= bill_form.text_field :alternative_phone %>
            </p>
          <% end %>
			</div><!-- Billing Address -->
	  <% end %>
	</fieldset>
	<fieldset id='shipping'>
			<%= form.fields_for :ship_address do |ship_form| %>
				<h5 class="subhead"><%= t("shipping_address")%></h5>
				<div class="check_wrap field checkbox">
					<label for="order_use_billing checkbox1" id="use_billing">
						<%= check_box_tag 'order[use_billing]', '1', (!(@order.bill_address.empty? && @order.ship_address.empty?) && @order.bill_address.eql?(@order.ship_address)),:id=>"checkbox1",:class=>"txtcheck" %> <%= t("use_billing_address") %>
					</label>
				</div>
				<div class="form_block payment_address field inner">	                            	
					<div class="field_wrap field" id="sfname">
						<%= ship_form.label :firstname, t(:first_name) %><span class="req required">*</span>
						<div class="input_wrap">
							<%= ship_form.text_field :firstname, :class => 'txtinput',:id=>"txt_firstname" %>
						</div>
					</div>
					<div class="field_wrap field" id="slname">
						<%= ship_form.label :lastname, t(:last_name) %> <span class="req required">*</span>
						<div class="input_wrap">
							<%= ship_form.text_field :lastname, :class => 'txtinput', :id=>"txt_firstname"%>
						</div>
					</div>
					<div class="field_wrap field" id="saddress">
						<%= ship_form.label :address1, t(:street_address) %><span class="req required">*</span>
							<div class="input_wrap">
								<%= ship_form.text_field :address1, :class => ' txtinput',  :id=>"txt_firstname"%>
							</div>
					</div>
					<div class="field_wrap field" id="saddress2">
						<%= ship_form.label :address2, t(:street_address_2) %>
						<div class="input_wrap">
							<%= ship_form.text_field :address2,:id=>"txt_firstname",:class=>"txtinput"  %>
						</div>
					</div>
					<div class="field_wrap field" id="scity" >
					<%= ship_form.label :city, t(:city) %><span class="req required">*</span></label>
						<div class="input_wrap">
							<%= ship_form.text_field :city, :class => 'txtinput', :id=>"txt_firstname"  %>
						</div>
					</div>
					<% if Spree::Config[:address_requires_state] %>
						<p class="field ">																
						<div class="field_wrap" id="sstate">
							<% have_states = !@order.ship_address.country.states.empty? %>
							<%= ship_form.label :state, t(:state) %>
							<noscript> <span class="req required">*</span>
								<div class="input_wrap">
									<%= ship_form.text_field :state_name, :class => ' txtselect' %>
									</noscript>
									<% state_elements = [
									ship_form.collection_select(:state_id, @order.bill_address.country.states,
									:id, :name,
									{:include_blank => true},
									{:class => have_states ? "required" : "hidden",
									:disabled => !have_states}) +
									ship_form.text_field(:state_name,
									:class => !have_states ? "required" : "hidden",
									:disabled => have_states)
									].join.gsub('"', "'").gsub("\n", "")
									%>
									<script type="text/javascript" language="javascript" charset="utf-8">
									// <![CDATA[
									document.write("<%== state_elements %>");
									// ]]>
									</script>
								</div>
						</div>
						</p>
						<% end %>
						<div class="field_wrap field" id="szip">
							<%= ship_form.label :zipcode, t(:zip) %><span class="req required">*</span></label>
								<div class="input_wrap">
									<%= ship_form.text_field :zipcode, :class => 'txtinput',:id=>"txt_firstname" %>
								</div>
						</div>
						<div class="field_wrap field" id="scountry">
								<%= ship_form.label :country_id, t(:country) %><span class="req required">*</span>
								<div class="input_wrap" id="scountry">
									<span ><%= ship_form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'txtselect'} %></span>
								</div>
						</div>
						<div class="field_wrap field" id="sphone" >
							<%= ship_form.label :phone, t(:phone) %><span class="req required">*</span>
							<div class="input_wrap">
								<%= ship_form.text_field :phone, :class => 'txtinput' %>
							</div>
						</div>
						<% if Spree::Config[:alternative_shipping_phone] %>
							<p id="saltphone">
								<%= ship_form.label :alternative_phone, t(:alternative_phone) %>
								<%= ship_form.text_field :alternative_phone %>
							</p>
						<% end %>
				</div><!-- Billing Address -->	                            
			<% end %>
		</fieldset>
				<div class="clearfix space"></div>                
					<div class="fm-elements form-buttons">
						<input type="submit" class="continue button primary" name="commit" value="<%=t("save_and_continue") %>" />
					</div>

