<div class="secblock">
		<h4 class="sechead">Payment</h4>
			<div class="secinblock inner">
				<div class="order-inof">
					<%= checkout_progress %>
					<%= hook :checkout_summary_box do %>
						<% if order.state != 'confirm' %>
							<div id="checkout-summary">
								<%= render 'summary', :order => order %>
							</div>
						<% end %>
					<% end %>
				</div>
				
			<div class="form_block" id="methods">
				<fieldset id='shipping_method'>
					<h5 class="subhead"><%= t("shipping_method") %></h5>
						<% @order.rate_hash.each do |shipping_method| %>
							<div class="check_wrap">
								<%= radio_button (:order, :shipping_method_id, shipping_method[:id], :class=>"txtradio") %>
								<label for="radio1">
								<%= shipping_method[:name] %> <%= number_to_currency shipping_method[:cost] %>
								</label><br />
							</div>
						<% end %>
					<% if Spree::Config[:shipping_instructions] && @order.rate_hash.present? %>
						<p id="minstrs">
							<%= form.label :special_instructions, t("shipping_instructions") %><br />
							<%= form.text_area :special_instructions, :cols => 40, :rows => 7 %>
						</p>
				<% end %>
			</fieldset>
			</div>
				<div class="clearfix"></div>
				<div class="fm-elements">
				<input type="submit" class="continue button primary" name="commit" value="<%=t("save_and_continue") %>" />
				</div>
			</div>
</div>
