<div class="secblock">
	<h4 class="sechead">Payment</h4>
		<div class="secinblock inner">
			<div class="form_block" id="methods">
				<fieldset id='shipping_method'>
				<h5 class="subhead"><%= t("shipping_method") %></h5>
				<div class="check_wrap">
					<p class="field radios">
					<% @order.rate_hash.each do |shipping_method| %>
					  <%= radio_button (:order, :shipping_method_id, shipping_method[:id], :id=>"radio1", :class=>"txtradio") %>
						<label for="radio1">
						<%= shipping_method[:name] %> <%= number_to_currency shipping_method[:cost] %>
						</label><br />
					<% end %>
					</p>
				</div>
					<% if Spree::Config[:shipping_instructions] && @order.rate_hash.present? %>
						<p id="minstrs">
						<%= form.label :special_instructions, t("shipping_instructions") %><br />
						<%= form.text_area :special_instructions, :cols => 40, :rows => 7 %>
						</p>
					<% end %>
			</div>
				</fieldset>
			<div class="clearfix"></div>
				<div class="form-buttons">
					<input type="submit" class="continue button primary" name="commit" value="<%=t("save_and_continue") %>" />
				</div>
			</div>
</div>
