<fieldset id="payment">
  <legend><%= t("payment_information") %></legend>
  <div data-hook="checkout_payment_step">
    <% @order.available_payment_methods.each do |method| %>
    <p>
      <label>
        <%= radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, method == @order.payment_method %>
        <%= t(method.name, :scope => :payment_methods, :default => method.name) %>
      </label>
    </p>
    <% end %>

    <ul id="payment-methods">
      <% @order.available_payment_methods.each do |method| %>
        <li id="payment_method_<%= method.id %>" class="<%= 'last' if method == @order.available_payment_methods.last %>">
          <fieldset>
            <%= render "checkout/payment/#{method.method_type}", :payment_method => method %>
          </fieldset>
        </li>
      <% end %>
    </ul>
    <br style='clear:both;' />
			<% if @order.available_payment_methods.count>0%>

    <div data-hook="coupon_code_field"></div>
		<%end%>
  </div>
</fieldset>

<hr class="space" />
	<%if @order.available_payment_methods.count>0%>
<div class="form-buttons">
  <input type="submit" class="continue button primary" value="<%=t("save_and_continue") %>" />
	<%else%>
	<div style="color:red;font-size:13px;margin-top:-208px;margin-left:-203px;text-align:center;">No Payment Methods avaliable for this store</div>
		<%end%>

</div>
