<%= render "shared/error_messages", :target => @user %>
<h2><%= t("registration")%></h2>
<div id="registration">
  <div id="account">
    <%= render :file => 'user_sessions/new' %>
  </div>
  <% if Spree::Config[:allow_guest_checkout] %>
    <div id="guest_checkout">
      <%= render "shared/error_messages", :target => @order %>
      <h4 class="guest"><%= t(:guest_user_account) %></h4>
      <%= form_for @order, :url => update_checkout_registration_path, :html => { :method => :put, :id => "checkout_form_registration"} do |f| %>
        <div class="secinblock">
					<div class="fm-elements">
						<%= f.label :email, t("email") %><br />
						<%= f.text_field :email, :class => 'txtinput required'  %>
					</div>
			 <div class="fm-elements">
													<%= submit_tag t("continue"), :class => 'button primary' %>
					            </div>
				</div>
      <% end %>
    </div>
  <% end %>
</div>
<script>
$(function(){
jQuery("#checkout_form_registration").validate();
});
function noBack()
         {
             window.history.forward()
         }
        noBack();
        window.onload = noBack;
        window.onpageshow = function(evt) { if (evt.persisted) noBack() }
        window.onunload = function() { void (0) }
</script>