<%= render 'shared/error_messages', :target => @pricing_plan %>
<h1>Editing domain</h1>

<%= form_for @domain_customize, :url=>{:controller=>:domain_customizes,:action=>:update} do |f| %>
    <%= render :partial => "form", :locals => { :f => f } %>
		    <%= render :partial => "admin/shared/edit_resource_links" %>

<% end %>


<%= link_to 'Back', admin_domain_customizes_path %>

