<div class="secblock">
<h4 class="sechead">Product</h4>
	<div class="prod-detail">
		<div class="prod-info-wrap">
			<div class="img-container" id="product-images">
	
				<div class="img-large" id="main-image">
					 <%= render :partial => 'image' %>
				</div>
				
				<div class="img-thumbs" id="thumbnails">
					 <%= render :partial => 'thumbnails', :locals => { :product => @product } %>
				</div>
				</div>
			<div class="prod-info" id="product-description">
				  
				 <%= product_description(@product) rescue t(:product_has_no_description) %>
			</div>
			<div class="columns ten omega" data-hook="product_right_part">
    <div class="row" data-hook="product_right_part_wrap">

      <div id="product-description" data-hook="product_description">

        <h1 class="product-title" itemprop="name"><%= accurate_title %></h1>
			</div>
				 
				 <div class="prod-info-wrap" id="cart-form">
          <%= render :partial => 'cart_form' %>
        
				
					</div>
					
			</div>
		</div>    </div	>                        	
		<h5 class="subhead">Product Details</h5>
		<div class="prod-detail-info">
			
			 <%= render :partial => 'properties' %>
			
		 </div>
		<div class="prod-info-wrap">
			<h5 class="subhead">Look for similar items</h5>
			<div class="similar-items">
				<%= render :partial => 'taxons' %>
			</div>
		</div>
	</div>
</div>

