<div class="secblock">
<h4 class="sechead">Product</h4>
	<div class="prod-detail">
		<div class="prod-info-wrap">
			<div class="img-container" id="product-images">
			<%= hook :product_images do %>
				<div class="img-large" id="main-image">
					<%= render 'image' %>
				</div>
				<div class="img-thumbs" id="thumbnails">
					<%= render 'thumbnails', :product => @product %>
				</div>
			<% end %>
			</div>
			<div class="prod-info" id="product-description">
				<%= hook :product_description do %>
				<%= product_description(@product) rescue t("product_has_no_description") %>
				<% end %>
				<%= hook :cart_form do %>
				<div class="prod-info-wrap" id="cart-form">
					<%= render 'cart_form' %>
					</div>
					<% end %>
			</div>
		</div>                            	
		<h5 class="subhead">Product Details</h5>
		<div class="prod-detail-info">
			<%= hook :product_properties do %>
			<%= render 'properties' %>
			<% end %>
		 </div>
		<div class="prod-info-wrap">
			<h5 class="subhead">Look for similar items</h5>
			<div class="similar-items">
				<%= render 'taxons' %>
			</div>
		</div>
	</div>
</div>

