<title><%= title %></title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<%== meta_data_tags %>
<%== stylesheet_tags %>
<link rel="stylesheet" href="/stylesheets/style_new.css" type="text/css" />
<!--  jCarousel skin stylesheet -->
<link rel="stylesheet" type="text/css" href="/stylesheets/skin.css" />	
<%= csrf_meta_tag %>
<%= javascript_include_tag 'jquery-1.4.2.min', 'jquery.validate.min.js', 'rails', 'application', :cache => 'jquery-core' %>
<!--  jQuery library -->
<!--  jCarousel library -->
	<script type="text/javascript" src="/javascripts/jquery.jcarousel.min.js"></script>
<% unless I18n.locale.to_s[0..1] == 'en' %>
  <%= javascript_include_tag ['localization/messages_', I18n.locale.to_s[0..1], '.js'].join %>
<% end %>		
<script type="text/javascript">
		
		function mycarousel_initCallback(carousel)
		{
		    // Disable autoscrolling if the user clicks the prev or next button.
		    carousel.buttonNext.bind('click', function() {
		        carousel.startAuto(0);
		    });
		
		    carousel.buttonPrev.bind('click', function() {
		        carousel.startAuto(0);
		    });
		
		    // Pause autoscrolling if the user moves with the cursor over the clip.
		    carousel.clip.hover(function() {
		        carousel.stopAuto();
		    }, function() {
		        carousel.startAuto();
		    });
		};
		
		jQuery(document).ready(function() {
		    jQuery('#mycarousel').jcarousel({
		        auto: 1,
		        wrap: 'circular',
		        initCallback: mycarousel_initCallback
		    });
		});
		
		</script>
<%= yield :head %>
