<%
  paginated_products = @searcher.products if params.key?(:keywords)
  paginated_products ||= products
%>
<% if products.empty? %>
  <%= t(:no_products_found) %>
<% elsif params.key?(:keywords) %>
  <h3><%= t(:search_results, :keywords => h(params[:keywords])) %></h3>
<% end %>

<% if products.any? %>
<h2 class="title-pro">Products</h2>
<ul id="products" class="product-listing">
<% store=find_storename(current_subdomain)%>
<%stock_val=find_stock_value("show_zero_stock_products")%>
 <% products.each do |product| %>
    <% if stock_val || product.has_stock? %>
      <li id="product_<%= product.id %>" data-hook="products_list_item">
        <div class="pro-image"><%= link_to small_image(product), product %></div>
				<div class="pro-name"><%= link_to product.name.capitalize, product, :class => 'info' %></div>
				<div class="price-selling"><span class=""><%= product_price(product) %></span></div>
      </li>
    <% end %>
  <% end %>
</ul>
<% end %>


<% if paginated_products.respond_to?(:total_pages)
      params.delete(:search)
      params.delete(:taxon)

%><%= will_paginate(paginated_products,
                    :previous_label => "&#171; #{t('previous')}",
                    :next_label => "#{t('next')} &#187;") %>
<% end %>

