<%= render :partial => 'admin/shared/configuration_menu' %>
<% if @domain_customize %>
<h1><%= t('domain_custom')  %></h1>

<table class="index" id='customize_domains'>

  <thead>
  <tr>
    <%= hook :admin_customize_index_headers do %>
      
      <th><%= t("customize_domain") %></th>
      <th><%= t("status") %></th>
      <th>
        <%= hook :admin_customize_index_header_actions %>
      </th>
    <% end %>
  </tr>
  </thead>
  <tbody>
	


    <td><%= @domain_customize.custom_domain %></td>
    <td><%= (@domain_customize.status?) ? "Active" : "Inactive" %></td>

		<td>
        <%= link_to_edit @domain_customize, :class => "edit" %> &nbsp;
		</td>
		

</tbody>
</table>
<%else%>
<div class='toolbar'>
  <ul class='actions'>
    <li>
      <p><%= button_link_to t("new_customize_domain"), new_admin_domain_customize_path, :icon => 'add', :id => 'admin_new_customize_domain_link' %></p>
    </li>
  </ul>
  <br class='clear' />
</div>
<%end%>