<%unless current_user.has_role? "admin"%>
<%= tab :overview, :route => :admin %>
<%= tab :orders, :payments, :creditcard_payments, :shipments, :creditcards, :return_authorizations %>
<%= tab :products , :option_types, :properties, :prototypes, :variants, :product_properties, :taxons %>
<%= tab :users %>
<%= tab :reports %>
<%= tab :configurations, :general_settings, :mail_settings, :tax_categories, :zones, :states, :gateway_configurations, :inventory_settings, :taxonomies, :label => 'configuration' %>
<%= tab :upgrade_plans,:route=>:admin_upgrade_plans %>
<%#= tab :payment_details,:route=>:admin_store_details_store_billing %>
<li<%== ' class="selected"' if controller.controller_name == 'store_details' %>><%= link_to t("payment_details"), admin_store_details_store_billing_path %></li>

<%else%>
<li<%== ' class="selected"' if controller.controller_name == 'users' %>><%= link_to t("store_owners"), admin_users_path %></li>
<%=tab :store_details %>
<%= tab :reports %>
<%= tab :configurations, :general_settings, :mail_settings, :tax_categories, :zones, :states, :gateway_configurations, :inventory_settings, :taxonomies, :label => 'configuration' %>
<%= tab :pricing_plans %>
<%end%>


