	<%= render "shared/error_messages", :target => @user %>
<div id="new-customer">

	<h4 class="sechead">New Customer</h4>
							    <div class="secinblock">
									  <%= hook :signup do %>

    <%= form_for(:user, :url => registration_path(@user)) do |f| %>
							           <%=render "shared/user_form",:f=>f%>
							            <div class="fm-elements">
															<%= submit_tag t("create"), :class => 'button primary' %>
							            </div>
  <% end %>
  <% end %>
											
							        <div class="sing-in-bottom">
							            <ul>
								            <li> <%= link_to t("login_as_existing"), login_path %></li>
							            </ul>
							        </div>							        
							    </div>						
</div>						
		


