<%= render "spree/shared/error_messages", :target => @user %>
<div id="new-customer">
  <h4 class="sechead">New Customer</h4>
  <div class="secinblock">
    <%= form_for @user, :url => user_registration_path, :method => :post do |f| %>
    <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
    <div class="fm-elements">
      <%= submit_tag t("create"), :class => 'button primary' %>
    </div>
    <% end %>
    <div class="sing-in-bottom">
      <ul>
	<li> <%= link_to t("login_as_existing"), login_path %></li>
      </ul>
    </div>							        
  </div>						
</div>						
