  <%#= javascript_include_tag 'prototype.js'%>

<div class='toolbar'>
  <ul class='actions'>
    <li>
      <p><%= button_link_to t("new_user"), new_object_url, :icon => 'add', :id => 'admin_new_user_link' %></p>
    </li>
  </ul>
  <br class='clear' />
</div>

	<% unless current_user.has_role? "superadmin" %>
<h1><%= t("listing_users") %></h1>
<%else%>
<h1><%= t("listing_owners") %></h1>
<%end%>
<div id='status'>
<%= render 'store'%>
</div>
<%= will_paginate(:previous_label => "&#171; #{t('previous')}", :next_label => "#{t('next')} &#187;") %>

