         	<table cellpadding="0" cellspacing="0" class="grid-table">
	                            		<thead>
	                            			<tr>
		                            		   <%= hook :order_details_line_items_headers do %>
																			<th class="desc"><%= t('item_description') %></th>
																			<th class="price"><%= t('price') %></th>
																			<th class="qty"><%= t('qty') %></th>
																			<th class="total"><span><%= t('total') %></span></th>
																		<% end %>
	                            			</tr>
	                            		</thead>
	                            		<tbody>
	                            			<tr>
		                            			 <% @order.line_items.each do |item| %>
																				<tr>
																					<%- locals = {:item => item} %>
																					<%= hook :order_details_line_item_row, locals do %>
																						<td ><%=item.variant.product.name%> <%= "(" + variant_options(item.variant) + ")" unless item.variant .option_values.empty? %></td>
																						<td ><%= number_to_currency item.price %></td>
																						<td ><%=item.quantity%></td>
																						<td ><span><%= number_to_currency (item.price * item.quantity)%></span></td>
																					<% end %>
																				</tr>
																			<% end %>
	                            			</tr>
                                      <%= hook :order_details_subtotal do %>
                                   <% @order.adjustments.each do |adjustment| %>

	                            			<tr  id='subtotal'  class="subtotal">
		                            			<td colspan="3">Subtotal:</td>
		                            			<td><%= number_to_currency @order.item_total %></td>
	                            			</tr>
																		  <% end %>
																		  <% end %>
  <%= hook :order_details_adjustments do %>
      <% @order.adjustments.each do |adjustment| %>

	                            			<tr  id="order-charges" class="subtotal">
		                            			<td colspan="3"><%= adjustment.label %>:</td>
		                            			<td><%= number_to_currency adjustment.amount %></td>
	                            			</tr>
																		  <% end %>
																		  <% end %>
                               <%= hook :order_details_total do %>

	                            			<tr class="ordertotal" id="order-total">
		                            			<td colspan="3">Order Total:</td>
		                            			<td><%= number_to_currency @order.total %></td>
	                            			</tr>
																		  <% end %>

	                            		</tbody>
	                            	</table>
