    <%= form_for :order, :url => populate_orders_url do |f| %>
		<div class="price-enlarge-buy" data-hook="inside_product_cart_form">
		   <% if @product.price %>
					<%= hook :product_price do %>
						<p class="prices" id="product-price"><%= product_price(@product) %></p>
					<% end %>
				<% end %>
				<%stock_val=find_stock_value("show_zero_stock_products")%>
				<%back_order_val=find_stock_value("allow_backorders")%>
				
    <% if @product.has_stock? || back_order_val%>

	                                            <div class="pcount product-price">
                                                	<span>Qty:</span> &nbsp;
	                                            
																								<%= text_field_tag (@product.has_variants? ? :quantity : "variants[#{@product.master.id}]"),1, :class => "title pcount txtbox", :size => 3 %>
	                                            </div>
	                                        </div>
	                                        <% if @product.has_variants? %>
		<div id="product-variants">
        <h2><%= t('variants') %></h2>
        <ul>
          <%  has_checked = false
        @product.variants.active.each_with_index do |v,index|
          next if v.option_values.empty? || (!v.in_stock && !Spree::Config[:show_zero_stock_products])
          checked = !has_checked && (v.in_stock || Spree::Config[:allow_backorders])
          has_checked = true if checked %>
            <li>
              <%= radio_button_tag "products[#{@product.id}]", v.id, checked, :disabled => !v.in_stock && !back_order_val%>
              <label for="<%= ['products', @product.id, v.id].join('_') %>">
                <span class="variant-description">
                  <%= variant_options v %>
                </span>
                <% if variant_price_diff v %>
                  <span class="price diff"><%= variant_price_diff v %></span>
                <% end %>
              </label>
            </li>
          <% end%>
        </ul>
      </div>
    <% end%>
																					<div class="addtocart add-to-cart addtocart">
																				<input type="submit" class="btn-addcart" name="commit" value="Add to cart" />

																				</div>
																				<% else %>
																				<%= content_tag('strong', t('out_of_stock')) %>
																				<% end %>
																		</div>
																		<% end %>

<% content_for :head do %>
  <%= javascript_include_tag 'product' %>
<% end %>







