<table class="index" id='listing_plans'>
<h1><%=owner.name%><h1>
  <tr>
	<th>Billing date</th>
	<th>Amount</th>
	<th>Transaction id</th>
	<th>Acknowledge</th>
	</tr>
   <tbody>
<% billings.each do |billing| %>
<tr>
<td><%=billing.billing_date%></td>
<td><%=billing.amount%></td>
<td><%=billing.transaction_id%></td>
<td><%=billing.acknowledge%></td>
</tr>

<%end%>
</tbody>
</table>
